doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Conferma
        script(src="/js/app.js")
        link(rel="stylesheet", href="/css/style.css")
    body
        include header.pug
        
        section.conferma
            h2 Grazie per averci contattato!
            p Ti risponderemo al più presto.
        
        include footer.pug